* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: green;
  font-weight: normal;
  font-size: 10;
}

#gridInput {
  background-color: white;
}

.mode {
  background-color: grey;
  color: blue;
  font-size: 28px;
  font-weight: bold;
  width: 110px;
  height: 100px;
  position: relative;
  border-radius: 5px;
  margin: auto;
  float: left;
}

.container {
width: 490px;
height: 490px;
background-color: grey;
position: relative;
margin: 100px auto auto auto;
padding: 5px;
}

.square {
  background-color: blue;
  position: relative;
  float: left;
  display: inline-block;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

.whited {
  background-color: white;
}
