* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: green;
  font-weight: normal;
  font-size: 10;
}

.header {
  width: 100%;
  height: 150px;
  position: relative;
}

.header-title {
  width: 50%;
  height: 110px;
  background-color: white;
  position: relative;
  margin: 15px auto 15px auto;
}

.title-text {
  position: relative;
  font-size: 50px;
  margin: auto;
  padding-top: 25px; 
  background-color: white;
  heigth: 100px;
  width: 50%;
  text-align: center;
}

.control-panel {
  width: 390px;
  height: 580px;
  background-color: white;
  border-radius: 10px;
  border-color: grey;
  border-style: double;
  border-width: 5px;
  position: relative;
  float: left;
  margin: 100px auto auto 50px;
}

.mode {
  background-color: grey;
  color: blue;
  font-size: 28px;
  font-weight: bold;
  width: 110px;
  height: 100px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  margin: 25px 6px auto 6px;
}

.change-size {
  position: relative;
  width: 360px;
  height: 380px;
  background-color: white;
  border-radius: 10px;
  border-color: blue;
  border-style: double;
  border-width: 5px;
  margin: 25px auto auto auto;
}

.container {
width: 580px;
height: 580px;
background-color: grey;
position: relative;
margin: 100px auto auto auto;
padding: 5px;
}

.square {
  width: 40px;
  height: 40px;
  background-color: blue;
  position: relative;
  float: left;
  display: inline-block;
}
